.eventHistoryContainer {
  max-width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.h2container{
  font-size: 25px;
  margin-bottom: 15px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.headerUtems{
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.controls {
  gap: 10px;
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  width: 200px;
  border: 1px solid #ddd;
}

.filterSelect {
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.sortSelect {
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.sortselect{
  font-size: 14px;
  cursor: pointer;
  color: #334155;;
}

.exportBtn {
  border: none;
  cursor: pointer;
  color: #334155;;
}

.dowloadbuttoncontainer{
   gap: 5px;
   display: flex;
   flex-wrap: wrap;
   padding: 8px 12px;
   border-radius: 5px;
   align-items: center;
   justify-content: center;
   border: 1px solid #ddd;
}

.dowloadIcon{
  width: 20px;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.table td {
  background-color: #fff;
}

.status {
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-size: 12px;
}

.sortbuttoncontainer{
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.status.completed {
  cursor: pointer;
  background-color: #28a745;
}

.status.inprogress {
  cursor: pointer;
  background-color: #17a2b8;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.pageControls {
  display: flex;
  gap: 5px;
}

.pageControls button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
}

.pageControls button:hover {
  background-color: #eee;
}

.pagination select {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
}



@media (max-width: 768px) {
  .eventHistoryContainer {
    max-width: 100%;
    margin-top: 10px;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .searchInput {
    width: 100%;
  }
  
  .controls {
    width: 100%;
    flex-direction: column; 
    align-items: stretch; 
  }

  .sortbuttoncontainer,
  .dowloadbuttoncontainer {
    justify-content: center;
    margin-top: 10px;
  }

  .pagination {
    flex-direction: column;
    align-items: stretch;
  }

  .pageControls {
    justify-content: center;
  }

  .table th,
  .table td {
    padding: 8px;
    font-size: 12px; 
  }
}